name: "Terraform Infrastructure"

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  terraform:
    name: "Terraform"
    runs-on: [self-hosted, orangepi]
    defaults:
      run:
        shell: bash -l {0}
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: "us-east-1"

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node from NVM
        # Cargamos NVM y lo añadimos al PATH oficial de GitHub Actions
        run: |
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          # Añade el binario de la versión default al PATH de los siguientes pasos
          NODE_PATH=$(dirname $(which node))
          echo "$NODE_PATH" >> $GITHUB_PATH
          echo "Node version: $(node -v)"
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.5"
          terraform_wrapper: false

      - name: Terraform Format
        id: fmt
        run: terraform fmt -check
        continue-on-error: true

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Terraform Plan
        id: plan
        if: github.event_name == 'pull_request' || github.event_name == 'push'
        run: terraform plan -no-color -input=false
        continue-on-error: true

      - name: Terraform Apply
        env:
          TF_VAR_database_url: ${{secrets.DATABASE_URL}}
          TF_VAR_better_auth_secret: ${{secrets.BETTER_AUTH_SECRET}}
          TF_VAR_admin_email: ${{secrets.ADMIN_EMAIL}}
          TF_VAR_admin_password: ${{secrets.ADMIN_PASSWORD}}
          TF_VAR_admin_name: ${{secrets.ADMIN_NAME}}
        # Solo se ejecuta si es un push a main (no en Pull Requests)
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: terraform apply -auto-approve -input=false
